  <table id="table-transform" data-toolbar="#transform-buttons">
      <th>
        <%= erb :_circle %>
      </th>
    <tbody>
    <tr id="1" class="tr-class-1">
      <%= erb :_board_row %>
    </tr>

    <tr id="2" class="tr-class-2">
      <%= erb :_board_row %>
    </tr>

    <tr id="3" class="tr-class-3">
      <%= erb :_board_row %>
    </tr>

    <tr id="4" class="tr-class-4">
      <%= erb :_board_row %>
    </tr>

    <tr id="5" class="tr-class-5">
      <%= erb :_board_row %>
    </tr>

    <tr id="6" class="tr-class-6">
      <%= erb :_board_row %>
    </tr>

    </tbody>
</table>
